<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>lookNews</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/myNews.css}" rel="stylesheet"/>

    <script th:src="@{/js/myNews.js}"></script>
    <script th:src="@{/js/logout.js}" type='text/javascript'></script>
    <!-- <script th:src="@{/js/remoteReservation.js}"></script>-->
</head>
<!--仅仅展示消息列表，分为通知和私信-->
<body>
<div class="page-header">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="logout" type="button" class="btn btn-default">注销</button>
        </div>
    </div>
</div>
    <div class="body">
        <div class="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a th:href="@{/bibased/personal/info}">我的信息</a></li>
                <li role="presentation"><a th:href="@{/bibased/user/manager}">用户管理</a></li>
                <li role="presentation"><a th:href="@{/bibased/history/manager}">历史记录</a></li>
                <li role="presentation" class="active"><a href="#">我的消息</a></li>
                <li role="presentation"><a th:href="@{/bibased/remote/manager}">远程预约</a></li>
                <li role="presentation"><a th:href="@{/bibased/remote/diagnosis}">远程视频</a></li>
            </ul>
        </div>
        <div class="newsType">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active" id="one"><a id="notice">系统通知</a></li>
                <li role="presentation" id="two"><a id="sendLetter">已发私信</a></li>
                <li role="presentation" id="three"><a id="receivedLetter">已收私信</a></li>
            </ul>
        </div>

        <div class="newsList">
            <ul class="noticeList">
                <!--<li>
                    &lt;!&ndash;谁给你发了私信，关于。。。。。。时间|详情&ndash;&gt;
                    <div class="left">
                        <img src="/img/notice.jpg"/>
                        <strong>雷博博</strong>
                        给你发送了私信，关于
                        <span>哈哈哈哈哈哈哈哈哈哈哈哈哈哈或</span>
                    </div>
                    <div class="right">
                        <span>2018-02-06</span>&nbsp;|&nbsp;
                        <button type="button">详情</button>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</body>
</html>


