<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>writeNews</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>

    <link th:href="@{/css/remoteVideo}" rel="stylesheet"/>

</head>
<!--远程视频页面 -->
<body>
    <div class="body">
        <div class="copy">Send your URL to a friend to start a video call</div>
        <video id="localVideo" autoplay="autoplay" muted="muted"></video>
        <video id="remoteVideo" autoplay="autoplay"></video>
        <script th:src="@{/js/diagnosisVideo.js}" type='text/javascript'></script>
    </div>
</body>
</html>

<!--EIC = W1 * Ln(1 + a1) + W2 * Ln(2 + a2) + W1 * Ln(2 + a2)-->


