<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>main</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->

    <link th:href="@{/css/header.css}" rel="stylesheet"/>
    <link th:href="@{/css/remoteReservation.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/logout.js}" type='text/javascript'></script>
    <script th:src="@{/js/remoteReservation.js}" type='text/javascript'></script>
</head>
<body>
<div class="page-header">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="logout" type="button" class="btn btn-default">注销</button>
        </div>
    </div>
</div>
<div class="body">
    <!--navigation 导航-->
    <div class="navigation">
        <ul class="nav nav-pills">
            <li role="presentation"><a th:href="@{/bibased/personal/info}">我的信息</a></li>
            <li role="presentation"><a th:href="@{/bibased/user/manager}">用户管理</a></li>
            <li role="presentation"><a th:href="@{/bibased/history/manager}">历史记录</a></li>
            <li role="presentation"><a th:href="@{/bibased/news/lookLetter}">我的消息</a></li>
            <li role="presentation" class="active"><a href="#">远程预约</a></li>
            <li role="presentation"><a href="#">远程视频</a></li>
        </ul>
    </div>

    <!--远程用户界面-->
    <div class="remotePatient" id="remotePatient">
        <div class="validDocTable">
            <!--<div class="ValidPlanDoc">
            <div class="top" id="top">
                <img th:src="@{/img/doctor.jpg}"/>
                <div>
                    姓名
                </div>
                <div>
                    年龄
                </div>
                <div>
                    email
                </div>
            </div>
            <div class="center">
                <div class="subject" >
                    <span>科目：</span>
                    <p>妇科</p>
                </div>
                <div class="fields" >
                    <span>擅长：</span>
                    <p>这里通过先设置了该对象四边为黑色1px虚线边框，紧接着又设置一边边线为0的设置，这样相当于设置了3边的边框虚线属性，但是这里注意边框属性设置前后顺序</p>
                </div>
            </div>
            <div class="bottom">
                <button>预约</button>
            </div>
        </div>-->
        </div>
        <div id="reservableDoc">
            <div id="orderHead">
                <button id="cancelOrder" class="btn btn-default">取消</button>
            </div>
            <div class="dayTime">
                <ul>
                    <li>
                        <span>上午</span>
                    </li>
                    <li>
                        <span>下午</span>
                    </li>
                </ul>
            </div>

            <div class="patientLookPlan">
                <table class="table table-bordered" id="orderTable">
                    <!--<tr class="first">
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                        <th scope="col">
                            <span>星期一</span>
                            <p>2018-05-08</p>
                        </th>
                    </tr>-->
                    <tr class="second">
                        <td class="orderThis">
                            <input type="hidden" name="col_0" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_1" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_2" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_3" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_4" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_5" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_6" value=""/>
                        </td>
                    </tr>
                    <!--从name的值获得是哪一列，即哪一天-->
                    <!--value 的格式为： 列_行_日期_-->
                    <tr class="third">
                        <td class="orderThis">
                            <input type="hidden" name="col_0" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_1" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_2" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_3" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_4" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_5" value=""/>
                        </td>
                        <td class="orderThis">
                            <input type="hidden" name="col_6" value=""/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--//远程医生界面，只能看到一天的内容-->
    <div class="remoteDoctor" id="remoteDoctor">
        <div class="action">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" id="andPlan">添加计划</button>
                <button type="button" class="btn btn-default" id="changePlan">修改计划</button>
                <!--<button type="button" class="btn btn-default" id="lookPlan">查看计划</button>-->
            </div>
        </div>
        <div id="andPlanDiv">
            <div class="timeDay" >
                <input type="date" id="date" value="2018-05-10"/>
            </div>
            <div class="form-group ">
                <label class="col-sm-2  control-label">上午</label>
                <div class="col-sm-10">
                    <select class="form-control" id="morning">
                        <option name="code" value="00">无安排</option>
                        <option name="code" value="11">安排2个会诊</option>
                    </select>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2  control-label">下午</label>
                <div class="col-sm-10">
                    <select class="form-control" id="afternoon">
                        <option name="code" value="00">无安排</option>
                        <option name="code" value="11">安排2个会诊</option>
                    </select>
                </div>
            </div>
            <div id="submitPlan">
                <button type="button">提交</button>
            </div>
        </div>

        <div id="changePlanDiv">
            <tr>
                <td>
                    <input id="id" value="ID" readonly="readonly"/>
                </td>
                <td>
                    <input id="doctorId" value="doctorID" readonly="readonly"/>
                </td>
                <td>
                    <input id="plan" value="计划" readonly="readonly"/>
                </td>
                <td>
                    <input id="planTime" value="计划时间" readonly="readonly"/>
                </td>
                <td>
                    <input  value="操作" readonly="readonly"/>
                </td>
            </tr>
            <table class="table">
                <!--<tr>
                    <td>
                        <input id="id" value="ID" readonly="readonly"/>
                    </td>
                    <td>
                        <input id="doctorId" value="doctorID" readonly="readonly"/>
                    </td>
                    <td>
                        <input id="plan" value="计划" readonly="readonly"/>
                    </td>
                    <td>
                        <input id="planTime" value="计划时间" readonly="readonly"/>
                    </td>
                    <td>
                        <input  value="操作" readonly="readonly"/>
                    </td>
                </tr>-->
            </table>
        </div>
        <div id="openDiv">
            <div id="openFirst">
                <label class="col-sm-2  control-label">上午</label>
                <div class="col-sm-10">
                    <select class="form-control" id="openMorning">
                        <option value="00">无安排</option>
                        <option value="11">安排2个会诊</option>
                    </select>
                </div>
            </div>
            <div id="openSecond">
                <label class="col-sm-2  control-label">上午</label>
                <div class="col-sm-10">
                    <select class="form-control" id="openMAfternoon">
                        <option value="00">无安排</option>
                        <option value="11">安排2个会诊</option>
                    </select>
                </div>
            </div>
            <div id="confirm">
                <button type="button" id="alter">修改</button>
                <button type="button" id="cancel">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>


